streamlit==1.51.0
pyarrow==21.0.0


pandas==2.3.3
numpy==2.2.6
plotly==6.5.0

scikit-learn==1.7.2
sentence-transformers==5.1.2

openpyxl==3.1.5
xlsxwriter==3.2.9

tqdm==4.67.1
python-dateutil==2.9.0.post0
requests==2.32.5

python-Levenshtein==0.27.3

polars==1.35.2
dask[dataframe]==2025.11.0


tzdata==2025.2 ; platform_system == "Windows"
Unidecode==1.4.0
